@charset "UTF-8";
@font-face {
    font-family: 'NotoSans-Regular';
    src: url('fonts/NotoSans-Regular-webfont.eot');
    src: url('fonts/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/NotoSans-Regular-webfont.woff') format('woff'), url('fonts/NotoSans-Regular-webfont.ttf') format('truetype'), url('fonts/NotoSans-Regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@color_trans_a: #f68ba9;
@color_trans_b: #ffa4be;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    z-index: 2;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'NotoSans-Regular';
    color: #3c3d3f;
    background: #49505f;
    font-size: 12px
}

a {
    text-decoration: none;
    color: #3c3d3f;
}

@menu-height: 25px;

.top-container {
    width: 100%;
    position: absolute;
    top: 50%;
    // margin: -@menu-height/2 0 0 0;

    @media screen and (max-width: 568px) {
      position: relative;
      top: auto;
      width: auto;
      margin: 10px;
      overflow: hidden;
    }
}

.row-container {
  display: table;
  margin: auto;
  @media screen and (max-width: 568px) {
    margin: 0;
  }
}

.menu-countainer {
  position: relative;
  display: inline-block;
  height: @menu-height;

  @media screen and (max-width: 568px) {
    overflow: hidden;
    height: auto;
  }

  & > * {
    display: block;
    position: relative;
    float: left;
  }
}

@margin-trans-t: 0.15s;
@height-trans-t: 0.2s;

.menu-item {

  @media screen and (max-width: 568px) {
    float: none;
  }

  margin: 0;
  padding: 0;

  @media screen and (max-width: 568px) {
    margin: 15px 3px;
    height: auto;

    text-align: center;
  }

  display: flex;

  span {
    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 568px) {
      display: block;
    }
  }

  span.title {
    padding: 0 15px;
    line-height: @menu-height;
    color: #3b3e47;

    transition: padding @margin-trans-t ease;

    @media screen and (max-width: 568px) {
      font-size: 2em;
      line-height: @menu-height * 2;
    }
  }

  span.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 13px;

    @media screen and (max-width: 568px) {
      display: none;
    }
  }

  &.level-1 {
    span.title {
      background: #efb8cb;
    }

    span.triangle {
      border-color: #f4ced9 #f4ced9 #f4ced9 #efb8cb;
    }
  }

  &.level-2 {
    span.title {
      background: #f4ced9;
    }

    span.triangle {
      border-color: #f9dae0 #f9dae0 #f9dae0 #f4ced9;
    }
  }

  &.level-3 {
    span.title {
      background: #f9dae0;
    }

    span.triangle {
      border-color: #fce9eb #fce9eb #fce9eb #f9dae0;
    }
  }

  &.level-4 {
    span.title {
      background: #fce9eb;
    }

    span.triangle {
      border-color: transparent transparent transparent #fce9eb;
    }
  }

  &:hover {
    cursor: pointer;

    span.title {
      padding: 0 20px;
    }
  }

}

.lodash {
  &.active {
    border-bottom: solid 2px #fff;
  }
  height: @menu-height - 1px;
  width: 12px;

  margin-left: 12px;

  @media screen and (max-width: 568px) {
    display: none;
  }
}

footer {

  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;

  text-align: center;

  .copyright {
    font-size: 0.7rem;
    color: #bcbdbf;

    margin-top: 10px;

    a {
      color: #bcbdbf;
    }
  }
}
